.DS_Store

.nvim
buildServer.json
Config.xcconfig
DIVE_APPLE.xcodeproj/project.xcworkspace/xcuserdata/nodirbekbokiev.xcuserdatad/UserInterfaceState.xcuserstate
DIVE_APPLE.xcodeproj/project.xcworkspace/xcuserdata/nodirbekbokiev.xcuserdatad/UserInterfaceState.xcuserstate

*.ipa
*.dSYM.zip
*.dSYM
