.DS_Store

.nvim
buildServer.json
DIVE_APPLE/Config.xcconfig
DIVE_APPLE/DIVE_APPLE.xcodeproj/project.xcworkspace/xcuserdata/nodirbekbokiev.xcuserdatad/UserInterfaceState.xcuserstate
DIVE_APPLE/DIVE_APPLE.xcodeproj/xcuserdata/nodirbekbokiev.xcuserdatad/xcschemes/xcschememanagement.plist

*.ipa
*.dSYM.zip
*.dSYM
